<template name="layout">
<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top" onclick='$("#menu-close").click();'>Start Bootstrap123</a>
    </li>
    <li>
      <a href="#top" onclick='$("#menu-close").click();'>Home</a>
    </li>
    <li>
      <a href="#about" onclick='$("#menu-close").click();'>About</a>
    </li>
    <li>
      <a href="#services" onclick='$("#menu-close").click();'>Services</a>
    </li>
    <li>
      <a href="#portfolio" onclick='$("#menu-close").click();'>Portfolio</a>
    </li>
    <li>
      <a href="#contact" onclick='$("#menu-close").click();'>Contact</a>
    </li>
  </ul>
</nav>
<!-- Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Jimmy </h1>
    <!-- <h3>is Web Developer. </h3> -->
    <br>
    <a href="#about" class="btn btn-dark btn-lg">more</a>
  </div>
</header>
<!-- About -->
{{>about}}
<!-- Services -->
{{>services}}
<!-- Callout -->
<aside class="callout">
  <div class="text-vertical-center">
    <h1>Vertically Centered Text</h1>
  </div>
</aside>
<!-- Portfolio -->
{{>portfolio}}
<!-- Call to Action -->
<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>The buttons below are impossible to resist.</h3>
        <a href="#" class="btn btn-lg btn-light">Click Me!</a>
        <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
      </div>
    </div>
  </div>
</aside>
<!-- map -->
{{>map}}
<!-- Footer -->
{{>footer}}
<!-- jQuery -->
<!-- <script src="js/jquery.js"></script> -->
<!-- Bootstrap Core JavaScript -->
<!-- <script src="js/bootstrap.min.js"></script> -->
<!-- Custom Theme JavaScript -->
<script>
// Disable Google Maps scrolling
// See http://stackoverflow.com/a/25904582/1607849
// Disable scroll zooming and bind back the click event
// var onMapMouseleaveHandler = function(event) {
//     var that = $(this);
//     that.on('click', onMapClickHandler);
//     that.off('mouseleave', onMapMouseleaveHandler);
//     that.find('iframe').css("pointer-events", "none");
// }
// var onMapClickHandler = function(event) {
//         var that = $(this);
//         // Disable the click handler until the user leaves the map area
//         that.off('click', onMapClickHandler);
//         // Enable scrolling zoom
//         that.find('iframe').css("pointer-events", "auto");
//         // Handle the mouse leave event
//         that.on('mouseleave', onMapMouseleaveHandler);
//     }
//     // Enable map zooming with mouse scroll when the user clicks the map
// $('.map').on('click', onMapClickHandler);
</script>
</template>
