<template name='footer'>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Jimmy</strong>
                </h4>
                <p>Seoul
                <br>KOREA</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (010) 3051-0719</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:kji0205@gmail.com">kji0205@gmail.com</a>
                </li>
            </ul>
            <br>
            <ul class="list-inline">
                <li>
                    <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; Your Website 2016</p>
        </div>
    </div>
</div>
<a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
</template>
