body {
    /* width: 400px; */
}

.wrapper {
    border: 2px dotted gray;
}

table {
    border: 2px solid black;
}

tr {
}

td {
    border: 1px solid gray;
    background-color: #9e9e9e;
    width: 15px;
    text-align: center;
    color: #9e9e9e;
}
.td2 {
    border: 1px solid gray;
    background-color: #e6e6e6;
    width: 15px;
}
.td3 {
    border: 1px solid gray;
    background-color: red;
    width: 15px;
}
.td4 {
    border: 1px solid gray;
    background-color: green;
    width: 15px;
}
.resultLayer{
    /*display: none;*/
    background-color: blue;
    color: white;
    font-size: 27px;
    font-style: italic;
    padding: 5px;
    position: absolute;
    top: -50px;
    left: -20px;

    -webkit-transform: translate(0, 0);
    -webkit-transition: -webkit-transform 500ms;

    transform: translate(0, 0);
    transition: transform 500ms;
}
.resultLayer.move {
    background-color: blue;
    color: white;
    font-size: 27px;
    font-style: italic;
    padding: 5px;
    position: absolute;

    -webkit-transform: translate(60px, 170px);
    transform: translate(75px, 375px);
}
.resultLayer.move2 {
    background-color: red;
    color: white;
    font-size: 27px;
    font-style: italic;
    padding: 5px;
    position: absolute;

    -webkit-transform: translate(60px, 170px);
    transform: translate(75px, 375px);
}