
<template name="mine" namespace="foo">
    
    <style>
        .wrap {
            padding-left: 10px;
            padding-right: 10px;
        }
        .wrap {
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 20px;
            padding-right: 20px;
        }
        .nav-main {
            background: #222;
            color: #fafafa;
            /* position: fixed; */
            top: 0;
            height: 50px;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            width: 100%;
            z-index: 100;
        }
        .nav-main .nav-home {
            font-size: 20px;
        }
        .nav-main .nav-home {
            /* color: #00d8ff; */
            color: yellow;
            font-size: 24px;
            line-height: 50px;
            height: 50px;
            display: inline-block;
        }
        .nav-main .nav-logo {
            height: 30px;
            width: auto;
        }
        .nav-main .nav-logo {
            vertical-align: middle;
            display: inline-block;
        }
    </style>

    <div class="row">
        <div class="wrap nav-main">
            <div class="nav-home">
                <img class="nav-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/240px-Unofficial_JavaScript_logo_2.svg.png" width="36" height="36"/>
                지뢰찾기
            </div>
        </div>
    </div>
    <!-- {{#HammerTouchArea gestureMap=templateGestures}} -->
    <div class="row">
        <div><p>&nbsp;</p></div>
        <div>
            {{> loginButtons}}
        </div>
        <div class="col-xs-12 col-md-8">
            <button onclick="javascript:document.location.reload();">New Game</button>
            
            <label id='' class="lbl"></label>
            <input type="hidden" id="lblTime" name="" value="" data-time="">
        </div>
        <div class="col-xs-12 col-md-8 tblArea">
            
        </div>
        <div class="resultLayer"> CLEAR GAME</div>

    </div>
    <div>
        <div><h3>*순위</h3> <span>(로그인을 하지 않으면 순위에 기록되지 않습니다.)</span></div>
        <div>
        {{#each landMineRecord}}
            <h4>
            <span>{{offset @index}}위 시간: {{time}}초, Email: {{email}}, 등록: {{now}}</span>
            </h4>
        {{/each}}
        </div>
    </div>
    <!-- {{/HammerTouchArea}} -->    

    <script type="text/javascript">
    class LandMine {
        constructor(wSize=10, maxMineCount, setTime){
            this.wSize = wSize;
            this.vSize = wSize;
            this.wvSize = this.wSize * this.vSize;
            this.nowPlaying = 'N'; 
            this.maxMineCount = maxMineCount; // 최대 X의 갯수
            this.currentMineCount = 0; // 현재 X의 갯수
            this.setTime = setTime; // 게임 플레이타임

            this.table;
            this.td;
            this.tdArr;

            this.init();
        }
        init(){
            this.nowPlaying = 'Y'; 
            this.makeTable();
            this.tdArrInit();
            this.randomX();
            this.tdAttachEvent();   // TD에 이벤트 걸기
            this.msg_time();
        }
        makeTable(){
            this.table = document.createElement('table');
            for (let i = this.vSize - 1; i >= 0; i--) {
                let tr = document.createElement('tr');
                for (let j = this.wSize - 1; j >= 0; j--) {
                    let td = document.createElement('td');
                    tr.appendChild(td);
                }
                this.table.appendChild(tr);
            }
            document.querySelector('.tblArea').innerHTML = '';
            document.querySelector('.tblArea').appendChild(this.table);  
        }
        tdArrInit(){
            this.td = document.getElementsByTagName('td');
            this.tdArr = new Array(100);     // 탐색 여부를 확인하기 위한 배열
            for (let i = this.tdArr.length - 1; i >= 0; i--) {
                this.tdArr[i] = 'N';
            }    
        }
        // X 랜덤하게 심기
        randomX(){
            for (let i = this.maxMineCount; i > 0; i--) {
                let n = Math.floor(Math.random() * this.wvSize) + 1;
                this.td[n - 1].innerText = 'X';
            }
        }
        // TD에 이벤트 걸기
        tdAttachEvent(){
            for (let i = this.td.length - 1; i >= 0; i--) {
                if (this.td[i].innerText !== 'X') this.td[i].innerHTML = '&nbsp;';
                let hammertime = new Hammer(this.td[i]);
                hammertime.on('press', (function(i, td, that) {
                    // ev.preventDefault();
                    return function(e){
                        e.preventDefault();
                        if (that.nowPlaying == 'N') { return false;}
                        if (td.innerText === 'X') {
                            td.className = 'td4';
                        } else {
                            that.showX();
                        }
                    }
                }(i, this.td[i], this)), false);
                this.td[i].addEventListener('click', (function(i, td, that){
                    return function(){
                        if (that.nowPlaying == 'N') { return false;}
                        if (td.className == 'td4') { return false;}
                        if (td.innerText === 'X') {
                            // alert('Game Over');
                            that.showX();
                            // td[i].className = 'td3';
                        } else {
                            that.action(i);
                            td.className = 'td2';
                        }
                    };
                }(i, this.td[i], this)), false);
                this.td[i].addEventListener('contextmenu', (function(i, td, that) {
                    return function(e){
                        e.preventDefault();
                        if (that.nowPlaying == 'N') { return false;}
                        if (td.innerText === 'X') {
                            td.className = 'td4';
                        } else {
                            that.showX();
                        }
                    }
                }(i, this.td[i], this)), false);
            }
        }
        action(seq, gubun){
            const seqBefore = seq - this.wSize;
            const seqAfter = seq + this.wSize;

            /*
                c1  c   c2
                a   자신 b
                d1  d   d2
            */
            let a = this.td[seq - 1] && (seq - 1) % this.wSize !== 9 ? this.td[seq - 1] : '';
            let b = this.td[seq + 1] && (seq + 1) % this.wSize !== 0 ? this.td[seq + 1] : '';
            let c = this.td[seqBefore] ? this.td[seqBefore] : '';
            let c1 = this.td[seqBefore - 1] && parseInt((seqBefore - 1) % this.wSize, 10) !== 9 ? this.td[seqBefore - 1] : '';
            let c2 = this.td[seqBefore + 1] && parseInt((seqBefore + 1) % this.wSize, 10) !== 0 ? this.td[seqBefore + 1] : '';
            let d = this.td[seqAfter] ? this.td[seqAfter] : '';
            let d1 = this.td[seqAfter - 1] && parseInt((seqAfter - 1) % this.wSize, 10) !== 9 ? this.td[seqAfter - 1] : '';
            let d2 = this.td[seqAfter + 1] && parseInt((seqAfter + 1) % this.wSize, 10) !== 0 ? this.td[seqAfter + 1] : '';

            let tmpCount = 0;   // 자신과 붙어있는 X의 갯수를 저장
            if (this.td[seq].innerText === 'X') {
                return false;
            }

            // 근처에 X가 있다면 (3*3 탐색) 
            if (a.innerText === 'X') { tmpCount++; }
            if (b.innerText === 'X') { tmpCount++; }
            if (c.innerText === 'X') { tmpCount++; }
            if (c1.innerText === 'X') { tmpCount++; }
            if (c2.innerText === 'X') { tmpCount++; }
            if (d.innerText === 'X') { tmpCount++; }
            if (d1.innerText === 'X') { tmpCount++; }
            if (d2.innerText === 'X') { tmpCount++; }
            if (tmpCount > 0 && this.td[seq] != 'X') {
                this.td[seq].innerText = tmpCount;    
            }
            else {
                // 주변에 X가 없다면 TD의 배경색을 밝은 회색으로 변경한다.(오픈의 의미)
                // 그리고 계속해서 자신과 인접한 8개의 TD를 탐색한다.
                // 이 때 경우의 수를 줄이기 위해 전역으로 선언한 배열에 각각의 TD의 체크여부를 저장한다.
                if (a) {
                    a.className = 'td2';
                    if (this.tdArr[seq - 1] == 'N') {
                        this.tdArr[seq - 1] = 'Y';
                        this.action(seq - 1, 1);
                    }
                }
                if (b) {
                    b.className = 'td2';
                    if (this.tdArr[seq + 1] == 'N') {
                        this.tdArr[seq + 1] = 'Y';
                        this.action(seq + 1, 1);
                    }
                }
                if (c) {
                    c.className = 'td2';
                    if (this.tdArr[seqBefore] == 'N') {
                        this.tdArr[seqBefore] = 'Y';
                        this.action(seqBefore, 1);
                    }
                }
                if (d) {
                    d.className = 'td2';
                    if (this.tdArr[seqAfter] == 'N') {
                        this.tdArr[seqAfter] = 'Y';
                        this.action(seqAfter, 1);
                    }
                }
                if (c1) {
                    c1.className = 'td2';
                    if (this.tdArr[seqBefore - 1] == 'N') {
                        this.tdArr[seqBefore - 1] = 'Y';
                        this.action(seqBefore - 1, 1);
                    }
                }
                if (d1) {
                    d1.className = 'td2';
                    if (this.tdArr[seqAfter - 1] == 'N') {
                        this.tdArr[seqAfter - 1] = 'Y';
                        this.action(seqAfter - 1, 1);
                    }
                }
                if (c2) {
                    c2.className = 'td2';
                    if (this.tdArr[seqBefore + 1] == 'N') {
                        this.tdArr[seqBefore + 1] = 'Y';
                        this.action(seqBefore + 1, 1);
                    }
                }
                if (d2) {
                    d2.className = 'td2';
                    if (this.tdArr[seqAfter + 1] == 'N') {
                        this.tdArr[seqAfter + 1] = 'Y';
                        this.action(seqAfter + 1, 1);
                    }
                }
            }
        }
        msg_time() { // 1초씩 카운트
            // Bug...
            return false;
            const m = Math.floor(this.setTime / 60) + '분 ' + (this.setTime % 60) + '초'; // 남은 시간 계산
            const m2 = this.setTime;
            document.querySelector('.lbl').innerText = m;
            $('#lblTime').val(m2);
            this.setTime--; // 1초씩 감소
            if (this.setTime < 0) { // 시간이 종료 되었으면..
                clearInterval(tid); // 타이머 해제
                this.showX();
            } else {
                this.gameClearMonitoring();
            }
        }
        // 실패시 전체 X의 위치 표시
        showX(){
            for (let i = this.td.length - 1; i >= 0; i--) {
                if (this.td[i].innerText == 'X') {
                    this.td[i].className = 'td3';
                }
            }
            this.nowPlaying = 'N';   // Game Over
            clearTimeout(tid);
            document.querySelector('.resultLayer').innerText = 'Game Over';
            document.querySelector('.resultLayer').classList.add('move2');
        }
        // 종료 함수
        closeGame(){
            this.nowPlaying = 'N';
        }
        // 게임 클리어 확인 함수
        gameClearMonitoring(){
            let flag = true;
            for (let i = this.td.length - 1; i >= 0; i--) {
                if (this.td[i].innerText == 'X') {
                    if (this.td[i].className != 'td4') {
                        flag = false;
                    }
                }
            }
            if (flag && this.SetTime < 59 ) {
                this.nowPlaying = 'N';   
                clearTimeout(tid);
                document.querySelector('.resultLayer').innerText = 'Game Clear';
                document.querySelector('.resultLayer').classList.add('move');  
                success();
            }
            return flag;
        }
    }
    
    window.onload = function TimerStart() {
        var agent = navigator.userAgent.toLowerCase();
        if (agent.indexOf("msie") != -1) {
            alert("인터넷익스플로러 10버전까지는 지원하지 않습니다.");
            return false;
        }
        tid = setInterval('landMine.msg_time()', 1000);
    };

    var landMine = new LandMine(10, 10, 60);

    </script>
</template>
